ninja  # For faster builds.
psutil
ray >= 2.40.0
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch == 2.6.0
# nvidia-cublas-cu12 == 12.6.4.1
transformers >= 4.51.0  # Required for Qwen3.
# xformers == 0.0.23.post1  # Required for CUDA 12.1.
evaluate==0.4.3
latex2sympy2
fastapi
uvicorn[standard]
# pydantic == 1.10.13  # Required for OpenAI server.
aioprometheus[starlette]
timeout-decorator
word2number
rouge
jieba
fuzzywuzzy